.btn-start-page {
    width: 280px;
    height: 146px;
    flex-shrink: 0;
    border-radius: 20px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    --bs-btn-border-width:none;
}

.btn-newFile {
    background: linear-gradient(90deg, #0974F1 -6.79%, #9FCCFA 107.5%);
}
.btn-openFile {
    background: linear-gradient(90deg, #32C4C0 -7.86%, #8DE9D5 107.5%);
}
.btn-learnmore {
    background: linear-gradient(90deg, #239EAB -6.07%, #74DEEE 105.54%);
}
.btn-text {
    color: #FFF;
    font-family: "Noto Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btn-icon-start {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-upload-file {
    width: 316px;
    height: 158px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border:none;
}
.text-blue {
    color: #009DE0;
}
.span-text-btn {
    text-align: center;
    font-family: "Noto Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btn-circle {
    border-radius: 20px;
    border: 1px solid #009DE0;
    height: 30px;
}
.background-blue {
    background-color: #009DE0;
}
input::placeholder {
    color: #707070;
    font-family: "Noto Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-uploaded-file {
    width: 316px;
    height: 158px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.btn-circle-size {
    width: 128px;
    height: 32px;
    border-radius: 20px;
}

.btn-replace {
    border-radius: 20px;
    border: 1px solid #009DE0;
    color: #009DE0;
}

.btn-delete {
    border-radius: 20px;
    border: 1px solid #FF6963;
    color: #FF6963;
}
.text-bold {
    color: #292D32;
    font-family: "Noto Serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text-small {
    color: #292D32;
    font-family: "Noto Serif";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}