@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

<PageTitle>TextEditor</PageTitle>

<main>
    @Body
</main>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("renderjQueryComponents");
        await base.OnAfterRenderAsync(firstRender);
    }
}